:root {
  --background-color: #fff;
  --text-color: #333;
  --border-color: #ccc;

  --background-color-dark: #333;
  --text-color-dark: #fff;
  --border-color-dark: #555;

  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px; 
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.box {
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 20px;
  width: 80%;
  height: 90%;
  max-width: 90%;
  max-height: 90%;
  box-shadow: var(--box-shadow);
}

.chat-message-container {
  text-align: left;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  margin-top: 5px;
  padding: 25px;
  width: 90%;
  height: 90%;
  max-width: 95%;
  max-height: 95%;
  box-shadow: var(--box-shadow);
}

.chat-log-box {
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 10px;
  height: 90%;
  max-height: 100%;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
}

.input-container {
  display: flex;
  margin-top: 15px;
}

.text-input {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 8px;
  flex: 1;
  overflow-y: auto;
  font-size: 15px; 
}

.submit-button {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.toggle-dark-mode {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Make it full-width on small screens */
@media screen and (max-width: 600px) {
  .box {
    width: 100%;
    height: 100%;
  }
}

/* Dark Mode */


body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}



body.dark-mode .box,
body.dark-mode .chat-message-container,
body.dark-mode .chat-log-box {
  border-color: var(--border-color-dark);
  box-shadow: var(--box-shadow);
}

body.dark-mode .text-input,
body.dark-mode .submit-button,
body.dark-mode .toggle-dark-mode {
  border-color: var(--border-color-dark);
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

